{% extends 'base.html' %} {% block content %}

<div class="background-image">
    <div class="overlay">
        <!--Main logo and introduction-->
        <h1 class="title">Recipe <span>Book</span></h1>
        <h4 class="intro">Welcome to Recipe Book!<br />
            Browse through our recipes. You also add your own.
        </h4>
        <!--/Main logo and introduction-->
    </div>
</div>
<div class="container sort-wrapper">
    <h5>Recipes</h5>
    <!--Dropdown Materialize-->
    <a class='dropdown-button btn sort right' href='#' data-activates='dropdown1'><i class="material-icons">sort</i></a>
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="{{url_for('sort_az')}}">A-Z</a></li>
        <li><a href="{{url_for('sort_likes_descending')}}">Likes<i class="tiny material-icons">arrow_downward</i></a></li>
        <li><a href="{{url_for('sort_likes_ascending')}}">Likes<i class="tiny material-icons">arrow_upward</i></a></li>
    </ul>
    <!--/Dropdown Materialize-->
</div>

<!--Filter by Course Buttons-->
<div class="course-btns-wrapper">
    <a href="{{url_for('get_recipes')}}" class="waves-effect waves-light btn all">All</a>
    {% for course in courses %}
    <a href="{{url_for('get_course', course=course.course_name)}}"
        class="waves-effect waves-light btn {{course.course_name}}">{{course.course_name}}</a>
    {% endfor %}
</div>
<!--/Filter by Course Buttons-->

<div class="container">
    <!--Recipe Count-->
    <p class="recipes-count">Showing {{recipes_count}} recipes</p>
    <!--/Recipe Count-->

    <!--Recipe Cards-->
    <div class="row">
        {% for recipe in recipes %}

        <div class="col s12 m4">
            <div class="card">
                <a href="{{url_for('show_recipe', recipe_id=recipe._id)}}">
                    <div class="card-content">
                        <span class="card-title">{{recipe.name}}</span>
                        <div class="card-image valign-wrapper">
                            {% if recipe.course_name == 'Breakfast' %}
                            <i class="fas fa-bacon icon Breakfast"></i>
                            {% elif recipe.course_name == 'Lunch' %}
                            <i class="fas fa-apple-alt icon Lunch"></i>
                            {% elif recipe.course_name == 'Dinner' %}
                            <i class="fas fa-drumstick-bite icon Dinner"></i>
                            {% elif recipe.course_name == 'Desert' %}
                            <i class="fas fa-ice-cream icon Desert"></i>
                            {% elif recipe.course_name == 'Snack' %}
                            <i class="fas fa-cookie icon Snack"></i>
                            {% else %}
                            <i class="fas fa-cocktail icon Beverage"></i>
                            {% endif %}
                        </div>
                        <div>
                            <p class="course"><i class="tiny fas fa-utensils"></i> {{recipe.course_name}}</p>
                            {% if not recipe.likes %}
                            <p class="likes"><i class="tiny material-icons">favorite</i> 0</p>
                            {% else %}
                            <p class="likes"><i class="tiny material-icons">favorite</i> {{recipe.likes}}</p>
                            {% endif %}
                        </div>
                        <div>
                            <p><i class="tiny material-icons">whatshot</i> Calories (kcal): {{recipe.cals}}</p>
                            <p><i class="tiny material-icons">access_time</i> {{recipe.total_time}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        {% if loop.index % 3 == 0 %}
    </div>
    <div class="row">

        {% endif %}
        {% endfor %}

    </div>
    <!--/Recipe Cards-->
    <!--Create Recipe Button-->
    <div class="row">
        <a href="{{url_for('add_recipe')}}" class="waves-effect waves-light btn add">Add Your Own
            <i class="material-icons right">playlist_add</i>
        </a>
    </div>
    <!--/Create Recipe Button-->
</div>

{% endblock %}