{% extends 'base.html' %} {% block content %}

<div class="background-image">
    <div class="overlay">
        <!--Main logo and introduction-->
        <h1 class="title">Recipe <span>Book</span></h1>
        <h4 class="intro">Welcome to Recipe Book!<br />
            Browse through our recipes. You also add your own.
        </h4>
        <!--/Main logo and introduction-->
    </div>
</div>
<div class="container">
    <h5>Recipes</h5>
</div>
<!--Filter by Course Buttons-->
<div class="course-btns-wrapper">
    <a href="{{url_for('get_recipes')}}" class="waves-effect waves-light btn all">All</a>
    {% for course in courses %}
    <a href="{{url_for('get_course', course='Breakfast')}}" class="waves-effect waves-light btn {{course.course_name}}">{{course.course_name}}</a>
    {% endfor %}<!--
    <a href="{{url_for('get_course', course='Breakfast')}}" class="waves-effect waves-light btn breakfast">Breakfast</a>
    <a href="{{url_for('get_course', course='Lunch')}}" class="waves-effect waves-light btn lunch">Lunch</a>
    <a href="{{url_for('get_course', course='Dinner')}}" class="waves-effect waves-light btn dinner">Dinner</a>
    <a href="{{url_for('get_course', course='Desert')}}" class="waves-effect waves-light btn desert">Desert</a>
    <a href="{{url_for('get_course', course='Snack')}}" class="waves-effect waves-light btn snack">Snack</a>
    <a href="{{url_for('get_course', course='Beverage')}}" class="waves-effect waves-light btn beverage">Beverage</a>-->
</div>
<!--/Filter by Course Buttons-->
<div class="container">
    <!--Recipe Cards-->
    <div class="row">
        {% for recipe in recipes %}

        <div class="col s12 m4">
            <div class="card">
                <a href="{{url_for('show_recipe', recipe_id=recipe._id)}}">
                    <div class="card-content">
                        <span class="card-title">{{recipe.name}}</span>
                        <div class="card-image valign-wrapper">
                            {% if recipe.course_name == 'Breakfast' %}
                            <i class="fas fa-bacon icon Breakfast"></i>
                            {% elif recipe.course_name == 'Lunch' %}
                            <i class="fas fa-apple-alt icon Lunch"></i>
                            {% elif recipe.course_name == 'Dinner' %}
                            <i class="fas fa-drumstick-bite icon Dinner"></i>
                            {% elif recipe.course_name == 'Desert' %}
                            <i class="fas fa-ice-cream icon Desert"></i>
                            {% elif recipe.course_name == 'Snack' %}
                            <i class="fas fa-cookie icon Snack"></i>
                            {% else %}
                            <i class="fas fa-cocktail icon Beverage"></i>
                            {% endif %}
                        </div>
                        <div>
                            <p class="course"><i class="tiny fas fa-utensils"></i> {{recipe.course_name}}</p>
                            <p class="likes"><i class="tiny material-icons">favorite</i> {{recipe.likes}}</p>
                        </div>
                        <div>
                            <p><i class="tiny material-icons">whatshot</i> Calories (kcal): {{recipe.cals}}</p>
                            <p><i class="tiny material-icons">access_time</i> {{recipe.total_time}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        {% if loop.index % 3 == 0 %}
    </div>
    <div class="row">

        {% endif %}
        {% endfor %}

    </div>
    <!--/Recipe Cards-->
    <div class="row">
        <a href="{{url_for('add_recipe')}}" class="waves-effect waves-light btn add">Add Your Own
            <i class="material-icons right">playlist_add</i>
        </a>
    </div>
</div>
{% endblock %}